version: '3.8'
services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
    command: gunicorn social_platform.wsgi:application --bind 0.0.0.0:8000
